@import '../base/breakpoints';

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  .line {
    background-color: #b98b3c;
    width: 28px;
    height: 3px;
    margin: 4px 0px;
    border-radius: 1.8px;
  }
  .short {
    width: 20px;
  }

  @include media-up(md) {
    display:none;
  }
}