//Colors
$primary: #78246d;
$primary-dark: #440e3d;
$secondary-light: #f9e6e6;
$secondary-dark: #ebacac;
$gradient: linear-gradient(145deg, rgba(249,230,230,1), rgba(235,172,172,1) 100%);
$light: #ffffff;
$gray-light: #fafafa;
$gray: #999999;
$dark: #000000;
